<div class="projects">
    <!-- Professional Projects -->
    <section class="professional-projects">
        <h1>Professional Projects</h1>
        <div class="projects">
            <app-general-list [list]="professionalProjects"></app-general-list>
        </div>
    </section>
    <!-- Professional Projects -->
    <section class="personal-projects">
        <h1>Awards</h1>
        <div class="projects">
            <app-general-list [list]="professionalAwards"></app-general-list>
        </div>
    </section>
    <!-- Professional Projects -->
    <section class="personal-projects">
        <h1>Public Speaking</h1>
        <div class="projects">
            <app-general-list [list]="publicSpeaking"></app-general-list>
        </div>
    </section>
    <!-- Professional Projects -->
    <section class="personal-projects">
        <h1>Implementations</h1>
        <div class="projects">
            <app-badge-list [list]="implementations"></app-badge-list>
        </div>
    </section>
    <!-- Professional Projects -->
    <section class="personal-projects">
        <h1>Personal Projects</h1>
        <div class="projects">
            <app-general-list [list]="personalProjects"></app-general-list>
        </div>
    </section>
</div>
